tmp/data_original
tmp/data_binarized
tmp/data_sliced
tmp/models
.ipyn*
.idea
**/*/__pycache__/
lightning_logs/


tmp/
__pycache__/

notebooks/img2seq_logs/
notebooks/unet_combined_test_logs/

application/plots/
application/tmp*

notebooks/unet/result_plots_att_unet_cnn/

notebooks/unet/result_plots_att_unet_rnn/

notebooks/unet/result_plots_unet_cnn/

notebooks/unet/result_plots_unet_rnn/

postgres-data/
*.zip
venv/
SingleMultipleFontModel/
SingleMultiple_test/
